@import './base.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito sans', sans-serif;
}

.container {
  /* border: solid 2px green; */
  width: 1300px;
  margin: 0 auto;
  align-content: center;
}

.mini-container {
  /* border: solid 2px red; */
  width: 524px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
