@import './base.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito sans', sans-serif;
}

.container {
  /* border: solid 2px green; */
  width: 1300px;
  margin: 0 auto;
  align-content: center;
}

.mini-container {
  /* border: solid 2px red; */
  width: 570px;
  gap: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.deposit-button {
  background-color: #ff5b0e;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  height: 45px;
  width: 220px;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  gap: 10px;
}

.deposit-button > svg {
  color: #ff5b0e;
  background-color: white;
  /* border: solid 1px white; */
  font-size: 16px;
}

.search-button {
  background-color: #f7fbff;
  border: none;
  border-radius: 10px;
  height: 45px;
  width: 300px;
  font-size: 14px;
  font-weight: bold;
  text-align: start;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.search-button > svg {
  /* border: solid 2px black; */
  color: black;
  border-radius: 5px;
  background-color: #ff5b0e;
  font-size: 20px;
  padding: 10px;
}

.toConnect {
  border: none;
  background-color: white;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
